In [1]:
# import stuff
import pandas as p
import numpy as n
import seaborn as s

## Data Set 3; Crime in Baltimore

This is the data set containing the selling price predictions of 14k 2nd hand cars.

[csv link](https://www.kaggle.com/sohier/crime-in-baltimore)

### Useful Stats:
- Size of set ~> 276,530
- Columns ~> 15

In [113]:
crime = p.read_csv('data/crime.csv', header = None, skipinitialspace = True, encoding = 'latin-1', low_memory = False, skiprows = 1,
                  names = ['CrimeDate' , 'CrimeTime', 'CrimeCode', 'Location', 'Description' , 'Inside/Outside', 'Weapon', 'Post', 'District', 
                          'Neighborhood', 'Longitude', 'Latitude', 'Coordinates', 'Premise', 'Total Incidents']
                  )
p.set_option('display.max_rows', 10)

In [3]:
# to check for null values
#crime['Total Incidents'].isnull().values.any()
crime

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Coordinates,Premise,Total Incidents
0,09/02/2017,23:30:00,3JK,4200 AUDREY AVE,ROBBERY - RESIDENCE,I,KNIFE,913.0,SOUTHERN,Brooklyn,-76.60541,39.22951,"(39.2295100000, -76.6054100000)",ROW/TOWNHO,1
1,09/02/2017,23:00:00,7A,800 NEWINGTON AVE,AUTO THEFT,O,NaN,133.0,CENTRAL,Reservoir Hill,-76.63217,39.31360,"(39.3136000000, -76.6321700000)",STREET,1
2,09/02/2017,22:53:00,9S,600 RADNOR AV,SHOOTING,Outside,FIREARM,524.0,NORTHERN,Winston-Govans,-76.60697,39.34768,"(39.3476800000, -76.6069700000)",Street,1
3,09/02/2017,22:50:00,4C,1800 RAMSAY ST,AGG. ASSAULT,I,OTHER,934.0,SOUTHERN,Carrollton Ridge,-76.64526,39.28315,"(39.2831500000, -76.6452600000)",ROW/TOWNHO,1
4,09/02/2017,22:31:00,4E,100 LIGHT ST,COMMON ASSAULT,O,HANDS,113.0,CENTRAL,Downtown West,-76.61365,39.28756,"(39.2875600000, -76.6136500000)",STREET,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276524,01/01/2012,00:00:00,6J,1400 JOH AVE,LARCENY,I,NaN,832.0,SOUTHWESTERN,Violetville,-76.67195,39.26132,"(39.2613200000, -76.6719500000)",OTHER - IN,1
276525,01/01/2012,00:00:00,6J,5500 SINCLAIR LN,LARCENY,O,NaN,444.0,NORTHEASTERN,Frankford,-76.53829,39.32493,"(39.3249300000, -76.5382900000)",OTHER - OU,1
276526,01/01/2012,00:00:00,6E,400 N PATTERSON PK AV,LARCENY,O,NaN,321.0,EASTERN,CARE,-76.58497,39.29573,"(39.2957300000, -76.5849700000)",STREET,1
276527,01/01/2012,00:00:00,5A,5800 LILLYAN AV,BURGLARY,I,NaN,425.0,NORTHEASTERN,Glenham-Belhar,-76.54578,39.34701,"(39.3470100000, -76.5457800000)",APT. LOCKE,1
276528,01/01/2012,00:00:00,5A,1900 GRINNALDS AV,BURGLARY,I,NaN,831.0,SOUTHWESTERN,Morrell Park,-76.65094,39.26698,"(39.2669800000, -76.6509400000)",ROW/TOWNHO,1

A) The data we are sampling is the crime data in Baltimore from the years 2012-2017

B) The features being measured are all the information about a crime. Including all the data needed besides the name of the person who did the crime or the victim. This data gives all information available about a certain crime.

C) The only continuous features are crime time,longitude, latitude, and the cooridantes, the rest of the features are discrete. Date is the only feature that is both discrete and continuous.

### Qualitative and Nominal: 
    - CrimeCode
    - CrimeDate
    - CrimeTime
    - Location
    - Description
    - Inside/Outside
    - Weapon
    - Description
    - Neighborhood
    - Premise
    - Coordinates
       
### Quanatative and Ordinal:
     - Post
     - Longitude
     - Latitude
     - Total Incidents
        
D) The features that include null values are as follows:
* Weapons
* Location
* Inside/Outside
* Post
* District
* Neighborhood
* Lontitude
* Latitude
* Coordinates
* Premise

These are still important to include because the crimes need to be stored. Although not all of the information is available, the crimes still happened and need/have been investigated. 

E) These are included because they offer important information about the crime scene. Any info provided can be useful even if it doesn't exist for all entries.

F) We could include victim name and/or assailant name. If it is a murder, we can include how many people and their basic autopsy report. (Yes it may be illegal, but we could still _technically_ do it.)

In [118]:
# G) Pivoting a massive set of the data
# to count opertations
c = 0
#print(len(crime['Coordinates'][crime['CrimeDate'] == '06/02/2017'].unique()))
crime_loc = p.DataFrame()

#get unique values of crime date/time
crime_loc = crime[['CrimeTime','CrimeDate']].drop_duplicates()
crime_loc['Post'] = 0.0
crime_loc = crime_loc.reset_index()
#print(crime_loc)

#take first 1000 values
crime_head = crime_loc.head(450)
print(crime_head)

# get values to pivot
for i in range(0,len(crime_head)):
    for j in range(i,900):
        if(crime_head['index'].loc[i] == j):
            crime_head['Post'].loc[i] = crime['Post'].loc[j]
            break
print(crime_head)

crime_head.pivot(index = 'CrimeTime', columns = 'CrimeDate', values = 'Post').sort_values('CrimeTime')

     index CrimeTime   CrimeDate  Post
0        0  23:30:00  09/02/2017   0.0
1        1  23:00:00  09/02/2017   0.0
2        2  22:53:00  09/02/2017   0.0
3        3  22:50:00  09/02/2017   0.0
4        4  22:31:00  09/02/2017   0.0
..     ...       ...         ...   ...
445    610  10:00:00  08/28/2017   0.0
446    612  09:42:00  08/28/2017   0.0
447    613  09:30:00  08/28/2017   0.0
448    615  09:25:00  08/28/2017   0.0
449    616  09:00:00  08/28/2017   0.0

[450 rows x 4 columns]

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

     index CrimeTime   CrimeDate   Post
0        0  23:30:00  09/02/2017  913.0
1        1  23:00:00  09/02/2017  133.0
2        2  22:53:00  09/02/2017  524.0
3        3  22:50:00  09/02/2017  934.0
4        4  22:31:00  09/02/2017  113.0
..     ...       ...         ...    ...
445    610  10:00:00  08/28/2017  721.0
446    612  09:42:00  08/28/2017  814.0
447    613  09:30:00  08/28/2017  522.0
448    615  09:25:00  08/28/2017  844.0
449    616  09:00:00  08/28/2017  742.0

[450 rows x 4 columns]

CrimeDate,01/19/2017,08/28/2017,08/29/2017,08/30/2017,08/31/2017,09/01/2017,09/02/2017
CrimeTime,,,,,,,
00:00:00,NaN,NaN,NaN,221.0,611.0,531.0,NaN
00:01:00,NaN,NaN,NaN,NaN,NaN,831.0,NaN
00:03:00,NaN,NaN,NaN,224.0,NaN,NaN,NaN
00:08:00,NaN,NaN,NaN,NaN,443.0,NaN,922.0
00:09:00,NaN,NaN,NaN,NaN,934.0,NaN,NaN
...,...,...,...,...,...,...,...
23:35:00,NaN,233.0,NaN,NaN,NaN,NaN,NaN
23:44:00,NaN,NaN,NaN,NaN,222.0,NaN,NaN
23:45:00,NaN,NaN,425.0,NaN,NaN,NaN,NaN
23:48:00,NaN,NaN,NaN,NaN,NaN,714.0,NaN
23:49:00,NaN,NaN,NaN,NaN,NaN,614.0,NaN